<form action="/named_cat" method="post">
    <label for="name">First name:</label><br>
    <input type="text" name="name"><br>
    <input type="submit" value="Submit">
</form>
<div style='border: dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>

